/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background: rgba(80, 0, 60, .15);
    text-align: center;
}

.mobile .mobile-wrap, .non-mobile .non-mobile-wrap {
    display: block;
}

.mobile-wrap {
    display: none;
}

.non-mobile-wrap {
    display: none;
    padding: 50px 0;
}

    .non-mobile-wrap p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: bold;
    }
    
    .non-mobile-wrap span {
        display: block;
        color: #666;
        font-size: 14px;
    }
    
hr {
    border-color: #999;
    width: 300px;
    margin: 5px auto;
}

.title {
    display: inline-block;
    margin: 20px 0 0;
    font-size: 20px;
    padding: 0 20px;
    background: #fff;
}

.subtitle {
    margin: 0 0 20px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

.wrapper {
    position: relative;
    width: 300px;
    height: 250px;
    margin: 0 auto;
    border: dashed 3px yellow;
}

    .wrapper .lottery-ticket {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .wrapper .lottery-result {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 0 10px;
        line-height: 250px;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        background: #fff;
    }
    
        .wrapper .lottery-result span {
            font-size: 15px;
            font-weight: normal;
            color: #666;
        }
        
.repeat-link {
    font-size: 16px;
    font-weight: bold;
    color: brown;
}

.author {
    display: block;
    padding: 5px 0;
    font-size: 12px;
}
    
    .author a {
        text-decoration: none;
    }

.author.wallpaper, .author.wallpaper a {
    color: #666;
}

    .author.wallpaper a {
        text-decoration: underline;
    }
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
